body{
    margin:0;
    padding:0;
    background: url(loginlibrarycssimage.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 500px;
    height: 270px;
    background: #e2ddd3dd;
    color: solid black;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}

.loginbox input[type="text"], input[type="password"]
{
    border:"none";
    background: solid black;
    outline: "none";
    height: 12px;
    width: 140px;
    color: solid black;
    font-size: 14px;
}

.loginbox input[type="submit"]
{
    border: "none";
    outline: black;
    height: 22px;
    background: #9886206b;
    color: solid black;
    font-size: 13px;
    border-radius: 20px;
}