body{
    margin:0;
    padding:0;
    background: url(registrationcssimg.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.registrationbox{
    width: 600px;
    height: 350px;
    background: #e2ddd3dd;
    color: fff;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}

.registrationbox input[type="submit"]
{
    border: "none";
    outline: black;
    height: 22px;
    background: #9886206b;
    color: solid black;
    font-size: 13px;
    border-radius: 20px;
}

