{% load static %}
<!DOCTYPE html>
<html>
  <title> About Website </title>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'elibrary/aboutus.css' %}">
    </head>
<div class="about-section">
  <h1>About Us</h1>
  <p>This is a webpage designed from 5 graduate students about an online library. With the advancement of technology, having a system that can manage the books of the
    library is very beneficial for a lot of reasons. One of them is being more organized and keeping
    track of the books in real time.</p>
  <p>This website will help librarians to manage their books.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      
      <div class="container">
        <h2>Nexhi Sula</h2>
        <p class="title">AI Graduate Student</p>
       
        <p>nexhi.sula@slu.edu</p>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      
      <div class="container">
        <h2>Chintak Joshi</h2>
        <p class="title">CS Graduate Student</p>
      
        <p>chintakmanojkumar.joshi@slu.edu</p>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      
      <div class="container">
        <h2>Preethi Yetcharla</h2>
        <p class="title">AI Graduate Student</p>
        
        <p>preethi.yetcharla@slu.edu</p>
        
      </div>
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    
    <div class="container">
      <h2>Priya Harshita Kadaluri</h2>
      <p class="title">CS Graduate Student</p>
      
      <p>priyaharshita.kadaluri@slu.edu</p>
      
    </div>
  </div>
</div>
</div>

<div class="column">
<div class="card">
  
  <div class="container">
    <h2>Saikumar Mandam</h2>
    <p class="title">IS Graduate Student</p>
    
    <p>saikumar.mandam@slu.edu</p>
    
  </div>
</div>
</div>
</div>
