{% extends "elibrary/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang='en' class=''>
  <head>
    <meta charset='UTF-8'>
    <title>E-Library</title>
    <h2> Welcome to E-Library page. </h2>
      <div class= "row"> 
         {% for book in books %}
          <div class="col">
          <div class="card" style="width: 18rem;">
              <img src="{{ book.image }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ book.title}}</h5>
                <p class="card-text">$ {{ book.price}}</p>
               <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
         </div>
      </div>
    {% endfor%}
    
</html>

{% endblock content %} 