<!DOCTYPE html>
<html>
    <head>
        <title> welcome to e-library </title>
        <link rel="stylesheet" href="login.css">
        <script src="login.js"> </script>
    </head>
    <body>
        <form class="box" action="login.html" method="POST">
            <h1>
                WELCOME TO E-LIBRARY
            </h1>
            <input type="text" name="user_name" placeholder="Enter Username" id="username">
            <input type="password" name="password" placeholder="Enter Password" id="password">
            <input type="submit" name="login" value="Login" onclick="validate()">
            <label>Not a member?<a href="registration.html">Register Here</a></label>
        </form>
    </body>
</html>