.fixed-top {
    background-color: black;
}

.form-group {
    color: burlywood;
}
.border-bottom mb-4 {
    background-color: burlywood;
}

.content-section {
    margin-top: 75px;
    width: 500px;
}
